.slider {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 20px auto;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.slide.active{
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.slide.previous{
    transform: translateX(-50%);
    opacity: 0;
}

.slide.next{
    transform: translateX(50%);
    opacity: 0;
}

button{
    margin: 5px;
}
