body{
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
  position: relative;
  width: 1100px;
  height: 420px;
  overflow: visible;
  margin: 40px auto;
}


.slide {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.slide.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.slide.previous {
  transform: translateX(-100%);
}

.slide.next {
  transform: translateX(100%);
}


/* Кнопки */

.nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 3px solid #ccc;
    background: rgb(255, 255, 255);
    font-size: 28px;
    cursor: pointer;
    z-index: 10;
    color: #ccc;
}

.nav.left{
    left: -60px;
}

.nav.right{
    right: -60px;
}




/* КАРТОЧКА */
.image-wrap{
    background: #f6f6f6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.image-wrap img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card {
  padding: 0;
}

.card img {
  width: 100%;
}

.brand {
  color: #aaa;
  font-size: 14px;
  margin-top: 10px;
}

.card h3 {
  font-size: 18px;
  margin: 6px 0;
}

.price {
  font-weight: bold;
}

.sizes {
  color: #e63946;
  font-size: 14px;
}